@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.toc-container {
    border: 1px solid #ddd;
    padding: 15px;
    max-width: 500px;
    font-family: "Montserrat", sans-serif;
}

.toc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toc-header h2{
    font-size: 16px;
    font-weight: 800;
}

.toc-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toc-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 500px; /* Initially hidden */
    overflow: hidden; /* Hide the content when max-height is 0 */
    transition: max-height 0.4s ease; /* Add a smooth transition */
}

.toc-list.show {
    max-height: 0px; /* Adjust based on content height */
}

.toc-list li {
    margin: 2px 0;
}

.toc-list a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
}

.toc-list a:hover {
    text-decoration: underline;
}
.paragraph p {
    color: black;
}
.heading h1{
    font-size: 20px;
    font-weight: 800;
}
.content-section{
    padding: 10px 0px;
    color: black;
}
.list-box ul li{
    font-weight: bold;
    color: black;
}

.list-box ul li span{
    font-weight: normal;
    color: black;
}
.contactDetails span {
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 500px){
    #table_of_content {
        padding: 0px 10px !important;
    }
    #contents_container{
        padding: 25px 10px !important;
    }
}