[data-theme='dark']:root {
    --hue: 53;
    --bg: #e8e3e3;
    --fg: #1c1717;
    --primary: #f20d0d;
    --trans-dur: 0.3s;
    --trans-timing1: cubic-bezier(0.65, 0, 0.35, 1);
    --trans-timing2: cubic-bezier(0.65, 0, 0.35, 1.35);
    --logo-color: white;
    --logo-mobile-color: rgb(0, 0, 0);
    --nav-bg-color: rgba(255, 255, 255, 0.95);
    --text-color: rgb(255, 255, 255);
    --breadcrumbs-line: rgba(255, 255, 255, 0.1);
    --mil-muted: rgba(0, 0, 0, 0.9);
    --mil-soft: rgba(0, 0, 0, 0.4);
    --footer-bg: rgb(255, 255, 255);
    --footer-link-color: rgba(0, 0, 0, 0.9);
    --subscribe-input-bg-color: rgba(0, 0, 0, 0.1);
    --social-icon-color: rgb(0, 0, 0);
    --footer-wave: rgb(0, 0, 0);
    --footer-text-soft: rgba(0, 0, 0, 0.4);
}

[data-theme='light']:root {
    --hue: 53;
    --bg: #e8e3e3;
    --fg: #1c1717;
    --primary: #f20d0d;
    --trans-dur: 0.3s;
    --trans-timing1: cubic-bezier(0.65, 0, 0.35, 1);
    --trans-timing2: cubic-bezier(0.65, 0, 0.35, 1.35);
    --logo-color: rgb(0, 0, 0);
    --logo-mobile-color: white;
    --nav-bg-color: rgba(0, 0, 0, 0.95);
    --text-color: rgb(0, 0, 0);
    --breadcrumbs-line: rgba(0, 0, 0, 0.1);
    --mil-muted: rgb(255 255 255 / 90%);
    --mil-soft: rgba(255, 255, 255, 0.4);
    --footer-bg: rgb(0, 0, 0);
    --footer-link-color: rgba(255, 255, 255, 0.9);
    --subscribe-input-bg-color: rgba(255, 255, 255, 0.1);
    --social-icon-color: rgb(255, 255, 255);
    --footer-wave: white;
    --footer-text-soft: rgba(255, 255, 255, 0.4);
}

.footer-text {
    color: var(--footer-wave) !important;
}

.footer-text-soft {
    color: var(--footer-text-soft) !important;
}

#webgl-canvas {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

#app {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.5) 200%);
}

#app {
    position: relative;
    height: 100%;
    font-family: "Montserrat", serif;
}

/* .mil-breadcrumbs li:after {
    color: var(--text-color) !important;
} */

.mil-breadcrumbs li a {
    color: black;
}

.mil-breadcrumbs:before {
    background-color: var(--breadcrumbs-line) !important;
}

.mil-muted {
    color: rgb(0, 0, 0);
}

.mil-light-soft {
    color: black;
}

.grax_tm_copyright {
    background-color: var(--footer-bg) !important;
}

.mil-footer-menu ul li a {
    color: var(--footer-link-color) !important;
}

.mil-subscribe-form input {
    background-color: var(--subscribe-input-bg-color) !important;
}

.mil-social-icons li a {
    color: var(--social-icon-color);
}

.my_wave {
    background-color: var(--footer-wave);
}