<footer>
    <div class="grax_tm_section mil-dark">
        <div class="grax_tm_copyright ">
            <div class="home_wave">
                <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <path id="wave_img" data-color="#000"
                        d="M 0 185.609 C 317.16666666666663 118.136 317.16666666666663 118.136 634.3333333333333 151.87 C 951.4999999999999 185.609 951.4999999999999 185.609 1268.6666666666665 116.402 C 1585.833333333333 47.195 1585.833333333333 47.195 1903 131.925 L 1903 507 L 0 507 Z"
                        fill="#fff"></path>
                </svg>
            </div>
            <div class="container mil-p-120-60">
                <div class="row justify-content-between">
                    <div class="col-md-4 col-lg-4 mil-mb-60">

                        <div class="mil-muted mil-logo mil-up mil-mb-30">DEV N DESK.</div>
                        <div class="mil-vert-between">
                            <div class="mil-mb-30">
                                <ul class="mil-social-icons mil-up">
                                    <li><a href="#." target="_blank" class="social-icon"> <i
                                                class="fab fa-instagram footer-icons"></i></a></li>
                                    <li><a href="#." target="_blank" class="social-icon"> <i
                                                class="fab fa-linkedin footer-icons"></i></a></li>
                                    <li><a href="#." target="_blank" class="social-icon"> <i
                                                class="fa fa-twitter footer-icons"></i></a></li>
                                    <li><a href="#." target="_blank" class="social-icon"> <i
                                                class="fab fa-facebook footer-icons"></i></a></li>

                                </ul>
                            </div>
                            <p class="mil-light-soft mil-up">© Copyright 2024 - DEVNDESK. All Rights
                                Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-6">
                        <div class="row justify-content-end">
                            <div class="col-md-6 col-lg-7">

                                <nav class="mil-footer-menu mil-mb-60">
                                    <ul>
                                        <li class="mil-up ">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li class="mil-up">
                                            <a href="portfolio-1.html">Portfolio</a>
                                        </li>
                                        <li class="mil-up mil-active">
                                            <a href="services.html">Services</a>
                                        </li>
                                        <li class="mil-up ">
                                            <a href="contact.html">Contact</a>
                                        </li>
                                        <!-- <li class="mil-up">
                                            <a href="blog.html">Blog</a>
                                        </li> -->
                                    </ul>
                                </nav>

                            </div>

                            <div class="col-md-6 col-lg-5">

                                <h6 class="mil-muted mil-up mil-mb-30">Canada</h6>

                                <p class="mil-light-soft mil-up">71 South Los Carneros Road, California
                                    <span class="mil-no-wrap">+51 174 705 812</span>
                                </p>


                                <h6 class="mil-muted mil-up mil-mb-30 cus">Germany</h6>

                                <p class="mil-light-soft mil-up">Leehove 40, 2678 MC De Lier,
                                    Netherlands <span class="mil-no-wrap">+31 174 705 811</span></p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</footer>