<!-- menu -->
<div class="mil-menu-frame">
    <!-- frame clone -->
    <div class="mil-frame-top">
        <a href="index.html" class="mil-logo">A.</a>
        <div class="mil-menu-btn">
            <span></span>
        </div>
    </div>
    <!-- frame clone end -->
    <div class="container">
        <div class="mil-menu-content">
            <div class="row">
                <div class="col-12 nav-links-center">

                    <nav class="mil-main-menu" id="swupMenu">
                        <ul>
                            <li class="mil-has-children">
                                <a href="index.html">Homepage</a>
                                <!-- <ul>
                                    <li><a href="home-1.html">Landing page</a></li>
                                    <li><a href="home-2.html">Personal</a></li>
                                    <li><a href="portfolio-3.html">Portfolio slider</a></li>
                                </ul> -->
                            </li>
                            <li class="mil-has-children">
                                <a href="#.">Portfolio</a>
                                <ul>
                                    <li><a href="portfolio-1.html">Logo</a></li>
                                    <li><a href="portfolio-website.html">Websites</a></li>
                                    <li><a href="portfolio-3.html">Banners</a></li>
                                </ul>
                            </li>
                            <li class="mil-has-children">
                                <a href="#.">Services</a>
                                <ul>
                                    <li><a href="service.html">Service</a></li>
                                </ul>
                            </li>
                            <!-- <li class="mil-has-children">
                                <a href="services.html"> Services</a>
                            </li> -->
                            <!-- <li class="mil-has-children">
                                <a href="#.">Newsletter</a>
                                <ul>
                                    <li><a href="blog.html">Blog List</a></li>
                                    <li><a href="publication.html">Publication</a></li>
                                </ul>
                            </li> -->
                            <li class="mil-has-children">
                                <a href="contact.html">Contact Us</a>
                                <!-- <ul>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- menu -->

<!-- curtain -->
<div class="mil-curtain"></div>
<!-- curtain end -->

<!-- frame -->
<div class="mil-frame">
    <div class="mil-frame-top">
        <a href="home-1.html" class="mil-logo">A.</a>
        <div class="mil-menu-btn">
            <span></span>
        </div>
    </div>
    <div class="mil-frame-bottom">
        <div class="mil-current-page"></div>
        <div class="mil-back-to-top">
            <a href="#top" class="mil-link mil-dark mil-arrow-place">
                <span>Back to top</span>
            </a>
        </div>
    </div>
</div>
<!-- frame end -->