<!-- menu -->
<div class="mil-menu-frame">
    <!-- frame clone -->
    <div class="mil-frame-top">
        <a href="index.html" class="mil-logo">DND.</a>
        <div class="mil-menu-btn">
            <span></span>
        </div>
    </div>
    <!-- frame clone end -->
    <div class="container">
        <div class="mil-menu-content">
            <div class="row">
                <div class="col-12 nav-links-center">

                    <nav class="mil-main-menu" id="swupMenu">
                        <ul style="list-style: none;">
                            <!-- <li class="mil-has-children">
                                <a href="index.html">Homepage</a>
                            </li> -->
                            <li class="mil-has-children">
                                <a href="index.html">Homepage</a>
                            </li>
                            <li class="mil-has-children">
                                <a href="#.">Portfolio</a>
                                <ul style="list-style: none;">
                                    <li><a href="portfolio-1.html">Logo</a></li>
                                    <li><a href="portfolio-website.html">Websites</a></li>
                                    <li><a href="portfolio-3.html">Banners</a></li>
                                </ul>
                            </li>
                            <li class="mil-has-children">
                                <a href="service.html">Services</a>
                                <!-- <ul style="list-style: none;">
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="services.html">Services</a></li>
                                </ul> -->
                            </li>
                            <li class="mil-has-children">
                                <a href="contact.html">Contact Us</a>
                            </li>
                            <li class="mil-has-children">
                                <a href="#.">New Pages</a>
                                <ul>
                                    <li><a href="privacy_policy.html">Privacy Policy</a></li>
                                    <li><a href="terms_and_condition.html">Terms and conditions</a></li>
                                    <li><a href="disclaimer.html">Disclaimer</a></li>
                                    <li><a href="user_agreement.html">User agreement</a></li>
                                    <li><a href="cancellation_and_refund.html">Cancellation and refund policy</a></li>
                                    <li><a href="#">Delivery guidelines</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- menu -->

<!-- curtain -->
<div class="mil-curtain"></div>
<!-- curtain end -->

<!-- frame -->
<div class="mil-frame">
    <div class="mil-frame-top">
        <a href="index.html" class="mil-logo-front">DND.</a>

        <div class="mil-menu-btn">
            <span></span>
        </div>
    </div>
    <div class="mil-frame-bottom">
        <div class="mil-current-page"></div>
        <div class="mil-back-to-top">
            <a href="#top" class="mil-link mil-dark mil-arrow-place">
                <span>Back to top</span>
            </a>
        </div>
    </div>
</div>
<!-- frame end -->